table td {
  border-left: 1px solid #e0e0e0;
}

.TableContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.TableContainer::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.TableContainer::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border-left: 0;
  border-right: 0;
  background-color: #8BBAE8;
}
